.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
.coverage
.coverage.*
.cache
.pytest_cache/
eggs/
.eggs/
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.env.local
.env.*.local
.envrc
.tern-port
.vscode/
.idea/
*.sqlite3
*.db
.DS_Store
*.log